doctype html
html(lang="en")
  head
    style
      include ../static/style.css

    title SchemeToJS
    link(rel='shortcut icon', href='../static/favicon.ico', type='image/x-icon')

  body

    script(src = '/static/lib/jquery-1.11.1.min.js' )
    script(src = '/static/lib/ace.js' )
    script(src = '/static/lib/socket.io.min.js')
    script(src = '/static/main.js' )
    